<h1> Les Categories</h1>

    <ul>
            {% for categorie in categories %}
    
                <li> {{categorie}}</li>
                
            {% endfor %}
    </ul>
    
    
    
    
    
    